@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Gerenciamento de Produtos</h1>
    <p>Bem-vindo ao GerProTP3</p>
    <div class="mt-4">
        <a asp-controller="Products" asp-action="Index" class="btn btn-primary btn-lg">
            <i class="bi bi-box-seam"></i> Gerenciar Produtos
        </a>
    </div>
</div>